@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Christoc.Modules.habibibabu.Models.Rendeles>

@using System.Collections.Generic
@using DotNetNuke.Web.Mvc.Helpers



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<div id="Item-@Dnn.ModuleContext.ModuleId">
        <div class="dnnFormItem">
            <div><label for="rendelesName">@Dnn.LocalizeString("lblDarab")</label></div>
            <input type="number" id="Darabszam" name="Darabszam" value="@Model.Darabszam" min="1" required />
        </div>
        <div class="dnnFormItem">
            <div><label for="megjegyzes">@Dnn.LocalizeString("lblMegjegyzes")</label></div>
            @Html.TextArea("megjegyzes", Model.Megjegyzes)
        </div>
        <div class="dnnFormItem">
            <div><label for="itemUser">@Dnn.LocalizeString("lblAssignedUser")</label></div>
            @{
                var Nyomttech = new[]
                {
                new { NyomtTech = 1, Technologia = "FDM" },
                new { NyomtTech = 2, Technologia = "SLA" },
                new { NyomtTech = 3, Technologia = "SLS" },
                new { NyomtTech = 4, Technologia = "DMP (Fém)" },
                new { NyomtTech = 5, Technologia = "CFC Kompozit" }
            };
                var nyomttechlist = new SelectList(Nyomttech, "NyomtTech", "Technologia");
            }
            @Html.DropDownListFor(m => m.NyomtTech, nyomttechlist)
        </div>
        <div class="dnnFormItem">
            <div><label>@Dnn.LocalizeString("lblTulajdonsag")</label></div>
            @{
                var tulajdonsag = new[]
                {
                new { TulId = 1, Tulajdonsag = "70 foknál magasabb hőállóság" },
                new { TulId = 2, Tulajdonsag = "Kémiai ellenállóság" },
                new { TulId = 3, Tulajdonsag = "Magas szilárdság" },
                new { TulId = 4, Tulajdonsag = "UV ellenállóság" },
            };
            }

            @foreach (var item in tulajdonsag)
            {
                <div>
                    <input type="checkbox" id="TulId_@(item.TulId)" name="TulId" value="@item.TulId" />
                    <label for="TulId_@(item.TulId)">@item.Tulajdonsag</label>
                </div>
            }
        </div>
        <div class="dnnFormItem">
            <div><label>@Dnn.LocalizeString("lblAtfutido")</label></div>
            <div>
                <label>
                    @Html.RadioButtonFor(m => m.AtfutIdo, 1, new { id = "atfutido1" })
                    <span>Standard szolgáltatás (3-7 munkanap)</span>
                </label>
            </div>
            <div>
                <label>
                    @Html.RadioButtonFor(m => m.AtfutIdo, 2, new { id = "atfutido2" })
                    <span>Expressz szolgáltatás (1-3 munkanap)</span>
                </label>
            </div>
            <div>
                <label>
                    @Html.RadioButtonFor(m => m.AtfutIdo, 3, new { id = "atfutido3" })
                    <span>Expressz+ szolgáltatás (24 órán belül)</span>
                </label>
            </div>

        </div>
        @Html.HiddenFor(m => m.ModuleId)

        <div>
            <button type="submit" class="dnnPrimaryAction">@Dnn.LocalizeString("Submit")</button>
            <a id="cancelEdit" href="#" class="dnnSecondaryAction">@Dnn.LocalizeString("Cancel")</a>
        </div>
</div>



<script>
    document.querySelector('form').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevents the default form submission

        // Display SweetAlert2 modal
        swal({
            title: "SIKERES FELADÁS!",
            text: "Csapatunk hamarosan felveszi Önnel a kapcsolatot. Rendelés száma: @ViewBag.SwalText Köszönjük, hogy minket választott és bízik bennünk, biztosak vagyunk benne, hogy elégedett lesz a szolgáltatásunk minőségével. Üdvözlettel: CORVIN 3D",
            icon: "success",
            buttons: {
                confirm: {
                    text: "VISSZA A FŐOLDALRA",
                    value: true,
                    visible: true,
                    className: "sweet-alert-confirm-btn",
                    closeModal: true
                }
            },
            className: "sweet-alert-centered"
        }).then((value) => {
            // If the user clicks the button in the SweetAlert2 modal, submit the form
            if (value) {
                event.target.submit();
                window.location = "http://dnndev.me/en-us/"; 
            }
        });
    });
</script>




